body{
    background: linear-gradient( 
0.25turn
 , #000000b0, #000000, #000000);
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
}
  .divInfo{
      display :inline-flex;
      margin-left: 10px;
  
  }
  
  .todo-container{
      text-align: center;
      margin :0px;
      padding: 0px;
      width: auto;
      
  }
  .head{
      text-align: center;
  }
  section{
      text-align: center;
  }
  .todo-text{
      flex: auto;
  }
  .done{
      color: gray;
      background-color: rgb(193 164 97);

  }
  
  li:hover{
      background-color: rgb(193 164 97);
      animation-name: example;
      animation-duration: 2.8s;
  }
  @keyframes example {
      from {background-color: rgb(211 180 143);}
      to {background-color: rgb(193 164 97);}
    }
    #todo-list{
      border: solid;
      border-width: 0px;
      margin: auto;
      height: 100%;
      width: 60%;
      padding-inline-start: 0px;
      background-color: #c78640b0;
      margin-top: 0px;
      padding-top: 10px;
      
    }
  
    li{
      margin: auto;
      font-size: 18px;
      border-bottom: 1px solid rgb(0, 0, 0);
      display: flex;
      justify-content: space-between;
    }
    .deleter{
      background-image: url(wood-pattern-1920x1080.png);
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      height: 40px
    }
    .deleter:hover{
      color:  #c78640b0;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }
    .editer{
      background-image: url(wood-pattern-1920x1080.png);
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      height: 40px
    }
    .editer:hover{
      border: none;
      color:  #c78640b0;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }
    #top{
        text-align: center;
    }
    #header{
      border: solid;
      border-width: 0px;
      margin: auto;
      height: 100%;
      width: 60%;
      padding-inline-start: 0px;
      background-color: #f3b4755c;
    }
    @media screen and (max-width: 600px){
      li{
        font-size: 70%;
      }
      #header{
          width: 100%;
        }
        #todo-list{
          width: 100%;
        }
    }
    #add-button{
      border: none;
      background-color: #f3b4755c;
      cursor: pointer;
    }
    .fa-sun{
        border: none;
        background-color:#000000b0;
        cursor: pointer;
        font-size:20px;
        color: white;
      }
      .fa-moon{
        border: none;
        background-color:#000000b0;
        cursor: pointer;
        font-size:20px;
        color: white;
      }
      #myInput {
        display: inline-block;
        border: 1px solid #ddd;
        margin-bottom: 11px;
        margin-left: -22px;
        margin-top: 10px;
      }
      a{
        color: white;
      }

  
  