body{
    background-color: rgb(115, 115, 184);
}
.divInfo{
    display :inline-flex;
    margin-left: 10px;

}
.done{
    text-decoration: line-through;
}
.todo-container{
    text-align: center;
    margin-top: 50px;
    width: auto;
}
.head{
    text-align: center;
}
section{
    text-align: center;
}
.todo-text{
    flex: auto;
}
.done{
    color: gray;
}

.todo-container:hover{
    background-color: deepskyblue;
    cursor: pointer;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {background-color: rgb(115, 115, 184);}
    to {background-color: deepskyblue;}
  }
  ul{
      border: solid ;
      border-width: 0px;
      margin-left: 550px;
      margin-right: 550px;
  }